body, html {
    margin: 0;
    padding: 0;
    color: white;
}
.page{
    margin: 0 auto;
    width: 1000px;
}
body, input, textarea, select {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 11pt;
}
.banner{
    background: url(img/banner.jpg);

}
.color-over-a-picture {
    background-color: rgba(17, 51, 74, 0.6);
}
#header, label {
    letter-spacing: .25em;
}
#header{
    background-color: #242943;
    top: 0;
    cursor: pointer;
    width: 100%;
    padding: 1.2em;
    position: fixed;
    z-index: 10;
    box-shadow: 0 0 .5em 0 black;
}

span, .logo, a {
    text-decoration: none;
    color: white;
}
#header strong {
    background-color: white;
    color: #242943;
    padding: .5em .05em .5em .4em;
}
.logo{
    padding: .7em .4em;
    width: 30%;
}
span{
    padding: 1.2em 0;
}
.logo, nav, .button-next, article{
    display: inline-block;
}
nav{
    float: right;
    margin: .9em;
    margin-right: 5em;
    height: inherit;
    line-height: inherit;
}
@media (max-width:680px){
    #header .logo span {display:none;}
    h1 {font-size: 1.8em !important;}
    .content {margin-top: 15px !important;
              height: 8em !important;}
    .button-next {margin-top: 15px;
                  left: 0;}
    .tiles > article {height: 16em;
                      width: 100% !important;}
    .tiles, .for-two-articles {display: block;}
    textarea {width: 17em !important;}
    article.for_form, article.contact {width: 100% !important;}
    .for-two-articles {display: inherit !important;}
    .for-label-and-input {display: block !important;}
    .contact > * {padding: 0 0 2em 5em;}
    .contact > * > .icon {top: 26px !important;}
    .contact > * > .icon::before, .for-icons-in-footer > .icon::before {font-size: 16px !important;
                                                                height: 2em !important;
                                                                width: 2em !important;
                                                                line-height: 2em !important;}
    #footer > span {border: none !important;
                    display: block;}
    .for_form {border-bottom: 1px solid dimgray !important;}

}
@media (min-width: 700px){
    .tiles > article {height: 18em;}
    .content {margin-top: 25px !important;
              padding: 0 0 50px 10px !important;}
    .button-next {margin-top: 17px;}
    input[type=text], input[type=email] {width: 12em !important;}
    textarea {width: 25.7em !important;}
    input[type=submit], input[type=reset] {font-size: 0.7em !important;}
    .contact > * {padding: 0;
                  padding-left: 70px;}
    .contact > * > .icon {top: 24px !important;}
    .text-after-pics h3 {width: 22% !important;}
    .content > p {font-size: 0.85em !important;}
    p, .over-pic {font-size: 0.75em !important;}
}

@media (min-width: 900px) {
    textarea {
        width: 33.7em !important;
    }
    input[type=text], input[type=email] {width: 15.7em !important;}
    .over-pic, p {font-size: .85em !important;}
}
@media (min-width: 1200px) {
    .content {margin-top: 25px !important;
        padding: 0 0 50px 10px !important;}
    .button-next {margin-top: 17px;}
    p, .over-pic {font-size: 0.8em}
    .text-after-pics h3 { width: 15%;}
    input[type=text], input[type=email] {width: 17.7em !important;}
    textarea {width: 37.7em !important;}
    .contact > * {padding: 14px 0 0 70px;}
}
@media (min-width: 1900px) {
    .tiles > article {height: 31em}
    .text-for-pic > h3 {font-size: 2.3em}
    .text-for-pic > span {font-size: 1.2em}
    .text-for-pic {width: 17em !important;}
    .text-after-pics > h3 {
        font-size: 2.3em;
        width: 18%}
    .text-after-pics > p {font-size: 1.2em}
    input[type=text], input[type=email] {width: 25.7em !important;}
    textarea {width: 56.6em !important;}
    input[type=reset], input[type=submit] {width: 21%!important;}
    .contact > * > h3 {font-size: 1.8em !important;
    padding-top: 15px !important;}
    #footer > span {margin-bottom: 30px !important;}
    .over-pic, p {font-size: 1em !important;}
    .banner {background-size: 100%}
}
nav a{
    position: relative;
}
.name-is-forty {
    width: calc(100% - 3em);
    margin: 0 auto;
}
#header nav a::before, #header nav a::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 32px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: -1px;
    vertical-align: middle;
    width: 24px;
    right: -25px;
}
#header nav a::after{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %239bf1ff%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
    opacity: 0;
    z-index: 1;
}
.content > p {
    margin-right: 30px;
}
#header nav a:hover::after, #header nav a:active::after {
    opacity: 1;
}
h1{
    width: auto;
    border-bottom: 2px solid white;
    padding: 140px 10px 20px 10px;
    margin: 0;
    font-size: 2em;
}
a:hover, .logo:hover span{
    color: #9bf1ff  !important;
}
.logo:hover strong {
    background-color: #9bf1ff !important;
}
#header, p, .button-next, .over-pic, label {
    text-transform: uppercase;
}
p, .over-pic {
    font-size: .65em;
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
}
.button-next{
    position: relative;
}
.button-next a {
    border: 2px solid white;
    padding: 8px 100px 8px 30px;
}
.button-next a::after{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='https://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %239bf1ff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
    opacity: 0;
    z-index: 1;
    display: block;
    right: 35px;
}
.button-next a::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='https://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
    right: 35px;
}
.button-next a:hover::after, .button-next a:active::after {
    opacity: 1;
}
.button-next a::before, .button-next a::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px 24px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 36px;
}
.button-next a:hover{
    border: 2px solid #9bf1ff;
    color: #9bf1ff;
}
.content{
    height: 60px;
    margin-top: 35px;
    padding-bottom: 50px;
}
.tiles {
    display: flex;
    flex-wrap: wrap;
}
.tiles > article {

}
.tiles article:nth-child(4n-3), .tiles article:nth-child(4n)  {
    width: 40%;
}
.tiles article:nth-child(4n-1), .tiles article:nth-child(4n-2) {
    width: 60%;
}
.text-for-pic {
    background-color: transparent;
    position: relative;
    width: 13em;
    padding: 6em 4em;
    z-index: 3;
}
h3 {
    border-bottom: 2px solid white;
    margin: 0;
    padding: 10px;
    font-size: 1.3em;
}
article.for_form{
    width: 60%;
}
article.contact{
    width: 40%;
}
.tiles article, .tiles-text-and-form article{
    display: block;
    font: inherit;
    vertical-align: baseline;
    overflow: hidden;
    position: relative;
    align-items: center;
    cursor: pointer;
    margin: 0;
    background-size: cover !important;
    background-position: center;
}
.tiles article::after{
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.for-two-articles {
    flex-wrap: nowrap;
    display: flex;
    font: inherit;
}
.tiles article:nth-child(1)::after{
    background-color: rgba(48, 164, 200, 0.6);
}
.tiles article:nth-child(2)::after {
    background-color: rgba(134, 68, 209, 0.6);
}
.tiles article:nth-child(3)::after {
    background-color: rgba(209, 41, 22, 0.6);
}
.tiles article:nth-child(4)::after {
    background-color: rgba(209, 172, 29, 0.6);
}
.tiles article:hover::after {
    background-color: transparent !important;
    height: 100%;
    width: 100%;
    transition: 1s;
    z-index: 2;
    position: absolute;
}
.text-after-pics {
    background-color: #3e4469;
    padding: 50px 30px;
}
.text-after-pics h3 {
    width: 51%;
}
.text-after-pics p {
    text-transform: none;
    font-weight: 200;
    padding: 20px 0;
}
.tiles-text-and-form, .for-two-articles > article {
    cursor: inherit !important;
}
.for_form {
    background-color: #242943;
}
.for_form form {
    margin: 2em;
}
input, textarea {
    background-color: #3e4469;
    margin: 10px 0;
    padding: 8px;
}
textarea{
    border: none;
    width: 17em;
    height: 12em;
}
input {
    border: none;
    height: 1.5em;
    width: 17em;
    cursor: pointer;
}
input:focus, textarea:focus {
    border: 1px solid #9bf1ff;
}
.tiles-text-and-form > article {
    display: inline-block;
}
.for-label-and-input {
    width: 49%;
    display: inline-block;
    margin-bottom: 20px;
}
input[type=submit], input[type=reset] {
    height: 5.5em;
    padding: .5px;
    width: 47%;
    margin-top: 2em;
    font-size: .65em !important;
    transition: 1s;
    font-weight: 600;
    letter-spacing: 3px;
}
input[type=submit]{
    background-color: white;
    color: #242943;
    margin-right: 1em;
}
input[type=reset]{
    color: white;
    background-color: #242943;
    border: 2px solid white;
}
input[type=reset]:hover {
    color: #9bf1ff;
    border: 2px solid #9bf1ff;
}
input[type=submit]:hover{
    background-color: #9bf1ff;
}
.contact > * {
    position: relative;
}
.contact > * > h3{
    margin: 0;
    border: none;
    padding: 30px 0 20px 0;
    position: relative;
}
.icon::before{
    background-color: white;
    border-radius: 100%;
    color: #242943;
    display: inline-block;
    font-family: FontAwesome, Arial, sans-serif;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
.icon {
    position: absolute;
    display: block;
    left: 20px;
}
.contact > * > .icon {
    top: 38px;
}
.email > .icon::before {
    content: "\f0e0";
}
.phone > .icon::before {
    content: "\f095";
}
.address > .icon::before {
    content: "\f015";
}
.address {
    border-bottom: none !important;
}
.for-two-articles {
    width: 100%;
    border-bottom: 1px solid dimgray;
}
.for-two-articles > article {
    border: 1px solid dimgray;
}
article.for_form{
    border: none;
    border-right: 1px solid dimgray;
}
article.contact{
    background-color: #242943;
    color: white;
    border: none;
}
.contact a, #footer > span > a {
    border-bottom: 1px dotted dimgray;
}
/*.contact > * {*/
    /*padding: 0 0 25px 70px;*/
/*}*/
.email a:hover, #footer > span > a:hover {
    border-bottom: none !important;
}
.email, .phone, .address {
    border-bottom: 1px solid dimgray;
    height: 30%;
}
.address > span {
    letter-spacing: 2px;
}
#footer {
    background-color: #242943;
    padding: 1.5em;
}
#footer > * > .icon {
    margin-right: 15px;
    display: inline-block;
}
.for-icons-in-footer {
    margin-bottom: 20px;
}
.for-icons-in-footer, .for-icons-in-footer > .icon {
    position: relative;
}
.icon.twitter::before {
    content: "\f099";
}
.icon.facebook::before {
    content: "\f09a";
}
.icon.instagram::before {
    content: "\f16d";
}
.icon.github::before {
    content: "\f09b";
}
.icon.linkedin::before {
    content: "\f0e1";
}
#footer > * > .icon:hover::before {
   background-color: #9bf1ff;
    cursor: pointer;
}
#footer > span {
    font-size: .9em;
    color: dimgray;
    letter-spacing: 1px;
    padding: 0 5px !important;
}
#footer > span > a {
    color: dimgray;
}
#footer > span:nth-child(3), #footer > span:nth-child(4) {
    border-left: 1px solid dimgray;
}