body, html {
    margin: 0;
    padding: 0;
    color: white;
}
.page{
    margin: 0 auto;
    width: 1000px;
}
body, input, textarea, select {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.banner{
    background: url(img/banner.jpg);
}
.color-over-a-picture {
    background-color: rgba(17, 51, 74, 0.6);
}
#header, label {
    letter-spacing: 5px;
}
#header{
    /*background-color: rgba(36, 41, 67, 0);*/
    background-color: #242943;
    top: 0;
    cursor: pointer;
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 10;
    box-shadow: 0 0 3px 0 black;
}
span, .logo, nav a, .button-next a {
    text-decoration: none;
    color: white;
}
#header strong {
    background-color: white;
    color: #242943;
    padding: 7px 1px 7px 5px;
}
.logo{
    padding: 10px 5px;
    width: 30%;
}
span{
    padding: 20px 10px;
}
.logo, nav, .button-next, article{
    display: inline-block;
}
nav{
    float: right;
    margin: 10px 90px;
}
nav a{
    position: relative;
}
#header nav a::before, #header nav a::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 32px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: -1px;
    vertical-align: middle;
    width: 24px;
    right: -25px;
}
#header nav a::after{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %239bf1ff%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");
    opacity: 0;
    z-index: 1;
}
#header nav a:hover::after, #header nav a:active::after {
    opacity: 1;
}
h1{
    width: auto;
    border-bottom: 2px solid white;
    padding: 140px 10px 40px 10px;
    margin: 0;
}
a:hover, .logo:hover span{
    color: aqua  !important;
    border-bottom: none !important;
}
.logo:hover strong {
    background-color: aqua !important;
}
#header, p, .button-next, .over-pic, label {
    text-transform: uppercase;
}
p, .over-pic {
    font-size: 10pt;
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
}
.button-next{
    margin-left: 30px;
    border: 2px solid white;
    padding: 8px 100px 8px 30px;
    position: relative;
}
.button-next::after{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='https://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %239bf1ff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
    opacity: 0;
    z-index: 1;
    display: block;
}
.button-next a::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='https://www.w3.org/1999/xlink' width='36px' height='24px' viewBox='0 0 36 24' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 2px%3B %7D%3C/style%3E%3Cline x1='0' y1='12' x2='34' y2='12' /%3E%3Cline x1='25' y1='4' x2='34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
}
.button-next a:hover::after, .button-next a:active::after {
    opacity: 1;
}
.button-next a::before, .button-next a::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px 24px;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 36px;
}
.button-next:hover{
    border: 2px solid aqua;
    color: aqua;
}
.content{
    height: 65px;
    margin-top: 70px;
    padding-bottom: 50px;
}
.tiles {
    display: flex;
    flex-wrap: wrap;
}
.tiles article:nth-child(1), .tiles article:nth-child(4)  {
    width: 40%;
}
.tiles article:nth-child(3), .tiles article:nth-child(2) {
    width: 60%;
}
.text-for-pic {
    background-color: transparent;
    position: relative;
    width: 220px;
    padding: 140px 120px;
    z-index: 3;
}
h3 {
    border-bottom: 2px solid white;
    margin: 0;
    padding: 10px;
    font-size: 22pt;
}
article.for_form{
    width: 60%;
}
article.contact{
    width: 40%;
}
.tiles article, .tiles-text-and-form article{
    display: block;
    font: inherit;
    vertical-align: baseline;
    overflow: hidden;
    position: relative;
    align-items: center;
    cursor: pointer;
    margin: 0;
    background-size: cover;
    background-position: center;
}
.tiles article::after{
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.for-two-articles {
    flex-wrap: nowrap;
    display: flex;
    font: inherit;
}
.tiles article:nth-child(1)::after{
    background-color: rgba(48, 164, 200, 0.6);
}
.tiles article:nth-child(2)::after {
    background-color: rgba(134, 68, 209, 0.6);
}
.tiles article:nth-child(3)::after {
    background-color: rgba(209, 41, 22, 0.6);
}
.tiles article:nth-child(4)::after {
    background-color: rgba(209, 172, 29, 0.6);
}
.tiles article:hover::after {
    background-color: transparent !important;
    height: 100%;
    width: 100%;
    transition: 1s;
    z-index: 2;
    position: absolute;
}
.text-after-pics {
    background-color: #3e4469;
    padding: 50px 30px;
}
.text-after-pics h3 {
    font-size: 28pt;
    width: 25%;
}
.text-after-pics p {
    text-transform: none;
    font-weight: 200;
    padding: 20px 0;
}
.for_form {
    background-color: #242943;
}
.for_form form
{
    margin: 50px;
}
input, textarea {
    background-color: #3e4469;
    margin: 10px 0;
    padding: 8px;
}
textarea{
    border: none;
    width: 500px;
    height: 200px;
}
input {
    border: none;
    height: 25px;
    width: 270px;
    cursor: pointer;
}
input:focus, textarea:focus {
    border: 1px solid aqua;
}
.tiles-text-and-form > article {
    display: inline-block;
}
.for-label-and-input {
    width: 49%;
    display: inline-block;
    margin-bottom: 20px;

}
input[type=submit], input[type=reset] {
    height: 50px;
    padding: 7px;
    width: 170px;
    margin: 30px 20px 0 0;
    font-size: 10pt;
    transition: 1s;
    font-weight: 600;
    letter-spacing: 3px;
}
input[type=submit]{
    background-color: white;
    color: #242943;
}
input[type=reset]{
    color: white;
    background-color: #242943;
    border: 2px solid white;
}
input[type=reset]:hover {
    color: aqua;
    border: 2px solid aqua;
}
input[type=submit]:hover{
    background-color: aqua;
}
.contact > * > h3{
    margin: 0;
    font-size: 16pt;
    border: none;
}
.icon::before{
    background-color: white;
    border-radius: 100%;
    color: #242943;
    display: inline-block;
}
.email > .icon {
    content: "\f0e0";
    top: 0;
    left: 0;
    position: absolute;

}
.for-two-articles {
    width: 100%;
    /*background-color: #242943;*/
}
.for-two-articles > article {
    border: 1px solid dimgray;
}
article.for_form{
    border-top: none;
    border-left: none;
}
article.contact{
    background-color: #242943;
    color: white;
    border: none;
}
.contact a {
    text-decoration: none;
    color: white;
    padding: 5px 0;
    border-bottom: 1px dotted dimgray;
}
.email, .phone, .address {
    border-bottom: 1px solid dimgray;
    height: 33%;
}